*{
    margin: 0 auto;
    padding: 0%;
}

.container{
    background-color: #ffffff;
    background-image: linear-gradient(hsla(0, 0%, 95%, .9), #9B8055);
    background: url(gradient.svg);
    position: relative;
    height: 650px;
    width: 360px;
}
.desktop-icons{
    display: none;
}

.logo{
    /* logo 1 */

    width: 77px;
    position: absolute;
    left: 23px;
    height: 33px;
    top: 20px;

    list-style: none;
    background: url(../photos/logo.svg);

}
.btns{
    padding-left: 6px;
}
.btn-2{
    /* Vector */

    left: 53.61%;
    position: absolute;
    top: 4.22%;
    right: 41.39%;
    list-style: none;
    bottom: 92.97%;

}
.btn-3{
    /* Vector */

    left: 64.17%;
    position: absolute;
    top: 4.22%;
    right: 30.28%;
    list-style: none;
    bottom: 92.66%;


}
.btn-4{
    /* Vector */

    left: 74.72%;
    position: absolute;
    top: 4.22%;
    right: 19.72%;
    list-style: none;
    bottom: 92.66%;

}
.navbar li{
    list-style: none;
}
.desktop-icons li{
    list-style: none;
}
.heading{
    /* A jute bag can save something? */

    position: absolute;
    width: 169.91px;
    height: 16.61px;
    left: 96px;
    top: 124px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;

}
.photo{
   /* img 9 1 */

position: absolute;
width: 140px;
height: 148px;
left: 105px;
top: 255px;
}
.lower-section{
    /* Buy a jute bag and avoid plastic */

    width: 169.11px;
    position: absolute;
    height: 16.61px;
    left: 93px;
    top: 519px;

    font-style: normal;
    font-family: Roboto;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    line-height: 23px;

color: #000000;
}
.lines{
    /* Group 3 */
    height: 14px;
    width: 30px;
    top: 31px;
    left: 307px;
}


#line1{
    position: absolute;
    height: 0px;
    width: 30px;
    top: 31px;
    left: 307px;

    border: 1px solid #9B8055;   
}



#line2{
    position: absolute;
    height: 0px;
    width: 30px;
    top: 38px;
    left: 307px;

border: 1px solid #9B8055;

}




#line3{
    position: absolute;
    height: 0px;
    width: 30px;
    top: 45px;
    left: 307px;

    border: 1px solid #9B8055;
}
@media only screen and (min-width: 600px) {
    .container{
        width: 100%;
    }
    .lines{
        display: none;
    }
    .desktop-icons{
        /* Jute Bags */

        width: 90px;
        position: absolute;
        left: 521px;
        height: 23px;
        
        top: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        display: flex;

        color: #9B8055;


}
.desktop-icons li{
    justify-items: center;
}
.heading{
    font-size: 40px;
    justify-content: center;
    padding: 10px;
}
.navbar{
    display: flex;
    flex-direction: row;

}








}